body {
   font-family: Verdana;
  }
  h1, h2, h3 {
   color: darkblue;
  }
  .sliderItem {
   height: 1em;
   width: 1em;
   border: .1em solid black;
   background-color: yellow;
   border-radius: 1.1em;
   display: inline-block;
   margin: 0;
   padding: .1em;
  }

  .selected_image {
   background-color: black;
  }

  .rating-chosen {
   background-color: green;
  }